.wrapping-content {
    justify-content: space-between;
    position: relative;
    padding-top: 4.857vw;
    padding-bottom: 10.7vw;
    margin: auto;
    width: 80%;
    z-index: 10;
    display: flex;
}

.container {
    justify-content: space-between;
    position: relative;
    padding-top: 4.857vw;
    padding-bottom: 10.7vw;
    margin: auto;
    width: 80%;
    z-index: 1;
}

.sub-title-blue {
    color: #006cbb;
}

.article-container {
    display: flex;
    align-items: center;
}

.article-desc {
    margin-left: 10px;
    font-size: 12px;
}

.title {
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 2.378vw;
    line-height: 3.264vw;
    color: #1c1d20;
    margin-bottom: 1.25vw;
}

button {
    background: linear-gradient(261.28deg, #ff9417 18.17%, #ff8017 84.69%);
    border-radius: 0.429vw;
    border: none;
    outline: none;
    min-width: 24.285vw;
    height: 3.932vw;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 0.701vw;
    gap: 0.701vw;
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 1.097vw;
    line-height: 1.357vw;
    letter-spacing: .013vw;
    color: #fff;
    margin-top: 4rem;
}

header {
    background-color: beige;
    background-image: url(./image-new-hero-comp.c0ee2441.png);
    background-size: cover;
    background-position: center;
    color: black;
    height: 100vh;
    display: flex;
}

h1 {
    margin: auto;
    color: white;
    text-align: center;
    font-size: 4vw;
}
